<div class="container">
  <div class="row">
    <div class="col">
      <% if @error %>
        <%= @error %>
      <% else %>
        <h1>Followings</h1>
        <ul class="list-group">
          <%= form_with url: destroy_multiple_followings_url, method: :delete, class: "form-control table" do |form| %>
            <% @followings.each do |following| %>
              <li class="list-group-item">
                <%= form.check_box(:ids, { multiple: true }, following[:id], nil) %>
                <%= link_to(following[:name], "https://twitter.com/#{following[:username]}", target: "_blank") %>
              </li>
            <% end %>
            <%= form.submit 'Unfollow' %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
