<div class="container">
  <div class="row">
    <div class="col">
      <pre><%= @user.inspect if @user %></pre>
      <pre><%= session[:token] %></pre>
      <% if @user %>
        <%= button_to "Logout", logout_path, method: :get %>
        <%= link_to("Followings", followings_path) %>
      <% else %>
        <%= button_to "Login via Twitter", "/auth/twitter2", method: :post, data: { turbo: false } %>
      <% end %>
    </div>
  </div>

</div>
